/* CSS */
/* 通用按钮样式 */
button {
    background-image: url('../img/background_music.jpg'); /* 按钮初始背景色 */
   
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 去掉按钮边框 */
    border-radius: 5px; /* 按钮圆角 */
    font-size: 16px; /* 按钮文字大小 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
    margin: 10px; /* 按钮之间的间距 */
    color:black;
}

/* 鼠标悬停时的样式 */
button:hover {
    background-color: #C0C0C0; /* 改变按钮的背景色 */
}

/* 鼠标按下时的样式 */
button:active {
    background-color: #CCC; /* 鼠标按下时的背景色 */
}

/* 禁用状态的按钮样式 */
button:disabled {
    background-color: #d3d3d3; /* 禁用时的背景色 */
    cursor: not-allowed; /* 禁用时鼠标样式 */
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background_music_ground.jpg'); /* 设置背景颜色为蓝色 */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px;
}

.left-side gif-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.right-side {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    min-width:300px;
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:100px;
}

button, input[type="file"] {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
